<div class="container">
  <div class="jumbotron">
    <h1>BattleShip</h1>
    <p></p>
  </div>

  <div class="row">
    <div class= "col-sm-3"></div>
      <div class= "col-sm-6">
      <table id="theTable" align="center"></table>

      <!-- <button>Replay</button> -->
      </div>
    <div class="col-sm-3">
    <p>Torpedo Counter: <span id="torpedoCounter">25</span></p>


    <p id="hitCounter">Hits:0</p>
    <p id="result"></p></div>
  </div>
</div>
